body {
  font-family: Arial, sans-serif;
}



nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: #ccc;
}
/*  */

.container-fluid img{
  margin-top: 10px;
  margin-bottom: 10px;
  max-width:max-content;
  }
.nav-item a{
      display: flex;
       float: right; 
          text-decoration: none;
          color:#ffffff;
          border:1px solid #230012 ;
          border-bottom-left-radius: 18px;
          border-top-left-radius: 18px;
          border-top-right-radius: 18px;
          border-bottom-right-radius: 18px;
          padding: 10px;
          padding-left: 15px;
          padding-right :65px;
          margin:8px ;
          margin-right: 5px;
          margin-left: 12px;
      
      }
  